@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ffffff 1.84%, #ffffff 102.67%);
  --gradient-bar: linear-gradient(89.97deg, #000000 1.84%, #575757 102.67%);
  --gradient-bar1: linear-gradient(
    89.97deg,
    rgb(255, 255, 255) 0 1.84%,
    #ffffff 102.67%
  );

  --color-bg: #000000;
  --color-footer: #0c0c0c;
  --color-blog: #010194;
  --color-text: #c0c0c0;
  --color-subtext: #ff8a71;
}
